.container {
  width: 100%;
}
.body {
  display: flex;
  height: 2%;
  justify-content: space-between;
  align-items: center;
}
.button {
  padding: 15px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.text {
  color: #000;
  font-family: Amiri;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bttn {
  width: 14%;
  padding-right: 30px;
  animation: changeColor 4s;
}

.img {
  padding-left: 25px;
}
.img2 {
  width: 30%;
}

@keyframes changeColor {
  0% {
    color: white;
  }
  25% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: black;
  }
  100% {
    color: white;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Estilos para dispositivos móviles con ancho entre 320px y 480px */

  .body {
    width: 100%;
  }
  .bttn {
    animation: changeColor 4s;
    width: "100%";
  }
  .img2 {
    width: 50%;
  }
}
