.buttonArray {
  display: flex;
  width: 283px;
  align-items: flex-end;
  align-content: flex-end;
  gap: 7px;
  flex-wrap: wrap;
}
.button1,
.button2,
.button3 {
  width: fit-content;
  padding-inline: 5%;
  height: 52px;
  border-radius: 50px;
  border: 1px solid #324e76;
  color: black;
  background-color: white;
}
