.areaReadyButtonDisabled {
  background-color: gray;
  border-radius: 80px;
  color: white 50%;
  font-size: 13px;
  font-weight: 500;
  height: 100%;
  width: 40%;
  box-shadow: 0px 10px 4px 0px rgbg(0, 0, 0, 0.25);
}
.areaReadyButton {
  background-color: #ed1a11;
  border-radius: 80px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  height: 100%;
  width: 40%;
  box-shadow: 0px 10px 4px 0px rgbg(0, 0, 0, 0.25);
}
.deleteButton {
  background-color: #d9d9d9;
  border-radius: 80px;
  color: black;
  font-size: 13px;
  font-weight: 500;
  height: 100%;
  width: 40%;
  box-shadow: 0px 10px 4px 0px rgbg(0, 0, 0, 0.25);
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  position: absolute;
  z-index: 2;
  justify-content: center;
  top: 90%;
}

/* ------------------------------------------------*/

.ImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.h1Container {
  position: relative;
  width: 100%;
}
.h1 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 96.8%;
  color: black;
}
.span {
  color: white; /* Color inicial */
  animation: changeColor 4s linear infinite;
}
@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: red;
  }
}

.h3Container {
  height: fit-content;
  display: flex;
  top: 120%;
  position: absolute;
  width: 40%;
  padding-inline-start: 5%;
  flex-direction: column;
}
.h3 {
  color: #000;
  font-family: Alumni Sans;
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.h3Span {
  color: #324e76;
  font-family: Alumni Sans;
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.resultContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #9dcaf2;
  fill: #9dcaf2;
}
