.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: 0%;
  gap: 2%;
  left: 16%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 82%;
    position: relative;
    top: -6%;
    gap: 2%;
    left: 29%;
  }
}
