.container {
  width: 100%;
}

.bgContainer {
  position: absolute;
  width: 100%;
  top: 0;
}

.body {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.body2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Alumni Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  width: 80%;
  line-height: 96.8%; /* 77.44px */
}
.span {
  color: #f4feff;
  font-family: Alumni Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.8%;
  animation: changeColor 4s linear infinite;
}
@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: #8e8e8e;
  }
  75% {
    color: black;
  }
  100% {
    color: #8e8e8e;
  }
}
