.box {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}
.container {
  border-radius: 30px;
  border: 3px solid #fff;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2%;
  justify-self: center;
  align-self: self-start;
  position: relative;
}
.system {
  color: #000;
  text-align: center;
  font-family: Andada Pro;
  font-size: 15px;
  font-style: thin;
  font-weight: 500;
  line-height: normal;
}
.pContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.p {
  color: #324e76;
  text-align: center;
  font-family: Andada Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pp {
  color: #000;
  font-family: Andada Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}

.informationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 6%;
  background-color: #e8eff8;
  border-radius: 10px;
}
